<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuqf.readbooktest"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name=".BooksContentProvider"
            android:authorities="com.yuqf.readbooktest.provider.books"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" />
        <activity
            android:name=".LinearLayoutActivity"
            android:label="@string/title_activity_linear_layout" />
        <activity
            android:name=".TableLayoutActivity"
            android:label="@string/title_activity_table_layout" />
        <activity
            android:name=".AbsoluteLayoutActivity"
            android:label="@string/title_activity_absolute_layout" />
        <activity
            android:name=".ListViewActivity_1"
            android:label="@string/title_activity_list_view_activity_1" />
        <activity
            android:name=".ListViewActivity_2"
            android:label="@string/title_activity_list_view_activity_2" />
        <activity
            android:name=".ListViewActivity_3"
            android:label="@string/title_activity_list_view_activity_3"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".ListViewActivity_4"
            android:label="@string/title_activity_list_view_activity_4" />
        <activity
            android:name=".ListViewActivity_5"
            android:label="@string/title_activity_list_view_activity_5" />
        <activity
            android:name=".GridViewActivity_1"
            android:label="@string/title_activity_grid_view_activity_1" />
        <activity
            android:name=".UIControlsActivity"
            android:label="@string/title_activity_uicontrols" />
        <activity
            android:name=".DialogActivity"
            android:label="@string/title_activity_dialog" />
        <activity android:name=".ListViewActivity_6" />
        <activity android:name=".ListViewActivity_7" />
        <activity android:name=".MainNewActivity" />
        <activity android:name=".SlidingDrawerActivity" />
        <activity android:name=".SlidingPaneLayoutActivity" />
        <activity
            android:name=".FirstNavigationDrawerActivity"
            android:label="@string/title_activity_first_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SecondNavigationDrawerActivity" />
        <activity android:name=".ViewPagerActivity"></activity>
    </application>

</manifest>